{{>head}}

{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Naruto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis expedita in dicta quibusdam voluptates possimus optio magni? Accusantium omnis ut et, repellendus cupiditate, eos asperiores quod, doloribus voluptatum illo dolorum?</p>
    </div>
<div class="col-4">
    <img src="assets/img/naruto.jpeg" alt="" class="img-thumbnail">
</div>

</div>

{{> footer}}